#thumbnails {
  background: $dark-background;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  height: auto;
  width: inherit;
  #book-navbar {
    height: 40px;
    background-color: #333;
    border-top: 1px solid #212121;
    a, a:link {
      text-decoration: none;
    }
    div.pager {
      float: right;
      margin-right: 1em;
      background-color: #333;
      height: 40px;
      .pager-list {
        display: none;
        visibility: hidden;
      }
    }
  }
  .view-book-thumbnails {
    margin: 5px 1%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: justify;
    .views-row {
      position: relative;
      -ms-flex: 0 1 8%;
      -webkit-flex: 0 1 8%;
      flex: 0 1 8%;
      background-color: black;
      align-self: flex-end;
    }
    .loaderHolder {
      position: relative;
      bottom: 0;
    }
    .thumbHolder {
      position: relative;
      bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      border: none;
    }
    a {
      display: block;
      &:hover {
        box-shadow: 0px 0px 0px 3px white;
        + .page-number {
          background: rgba(0, 0, 0, 0.7);
          color: white;
        }
      }
    }
    .page-number {
      padding: 3% 6%;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.33);
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.rtl {
  .thumbnails-container {
    .pager-first,
    .pager-previous {
      float: right;
    }
    .pager-last,
    .pager-next {
      float: right;
    }
    .pager-next a:before {
      content: "\e013" !important;
    }
    .pager-previous a:before {
      content: "\e012" !important;
    }
    .pager-last a:before {
      content: "\e010";
    }
    .pager-first a:before {
      content: "\e011";
    }
  }
  .view-book-thumbnails {
    .views-row {
      direction: rtl;
      float: right;
      &:first-child {
        margin: .5% 5.5% .5% .5%;
      }
      &:last-child {
        margin: .5% .5% .5% 5.5%;
      }
    }
  }
}

@-webkit-keyframes loadingThumbnails {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes loadingThumbnails {
  0% {
    opacity: .8;
    // background-color: #b8b8b8;
 
  }
  // 50% {
  //   opacity: .8;
  //    // background-color: #b8b8b8;
  // }
  100% {
    opacity: .1;
    // background-color: #b8b8b8;
 
  }
}


.loaderHolder {
  opacity: 0;
  animation-name: loadingThumbnails;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: loadingThumbnails;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.views-row[data-sequence="2"] .loaderHolder {
  -webkit-animation-delay: .2s;
  /* Chrome, Safari, Opera */
  animation-delay: .2s;
}

.views-row[data-sequence="3"] .loaderHolder {
  -webkit-animation-delay: .4s;
  /* Chrome, Safari, Opera */
  animation-delay: .4s;
}

.views-row[data-sequence="4"] .loaderHolder {
  -webkit-animation-delay: .6s;
  /* Chrome, Safari, Opera */
  animation-delay: .6s;
}

.views-row[data-sequence="5"] .loaderHolder {
  -webkit-animation-delay: .8s;
  /* Chrome, Safari, Opera */
  animation-delay: .8s;
}

.views-row[data-sequence="6"] .loaderHolder {
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s;
}

.views-row[data-sequence="7"] .loaderHolder {
  -webkit-animation-delay: 1.2s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.2s;
}

.views-row[data-sequence="8"] .loaderHolder {
  -webkit-animation-delay: 1.4s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.4s;
}

.views-row[data-sequence="9"] .loaderHolder {
  -webkit-animation-delay: 1.6s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.6s;
}

.views-row[data-sequence="10"] .loaderHolder {
  -webkit-animation-delay: 1.8s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.8s;
}