/* line 1, ../../sass/libraries/openlayers.scss */
div.olMap {
  z-index: 0;
  padding: 0 !important;
  margin: 0 !important;
  cursor: default;
}

/* line 8, ../../sass/libraries/openlayers.scss */
div.olMapViewport {
  text-align: left;
  -ms-touch-action: none;
}

/* line 13, ../../sass/libraries/openlayers.scss */
div.olLayerDiv {
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 18, ../../sass/libraries/openlayers.scss */
.olLayerGoogleCopyright {
  left: 2px;
  bottom: 2px;
}

/* line 22, ../../sass/libraries/openlayers.scss */
.olLayerGoogleV3.olLayerGoogleCopyright {
  right: auto !important;
}

/* line 25, ../../sass/libraries/openlayers.scss */
.olLayerGooglePoweredBy {
  left: 2px;
  bottom: 15px;
}

/* line 29, ../../sass/libraries/openlayers.scss */
.olLayerGoogleV3.olLayerGooglePoweredBy {
  bottom: 15px !important;
}

/* GMaps should not set styles on its container */
/* line 33, ../../sass/libraries/openlayers.scss */
.olForeignContainer {
  opacity: 1 !important;
}

/* line 36, ../../sass/libraries/openlayers.scss */
.olControlAttribution {
  font-size: smaller;
  right: 3px;
  bottom: 4.5em;
  position: absolute;
  display: block;
}

/* line 43, ../../sass/libraries/openlayers.scss */
.olControlScale {
  right: 3px;
  bottom: 3em;
  display: block;
  position: absolute;
  font-size: smaller;
}

/* line 50, ../../sass/libraries/openlayers.scss */
.olControlScaleLine {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: xx-small;
}

/* line 57, ../../sass/libraries/openlayers.scss */
.olControlScaleLineBottom {
  border: solid 2px black;
  border-bottom: none;
  margin-top: -2px;
  text-align: center;
}

/* line 63, ../../sass/libraries/openlayers.scss */
.olControlScaleLineTop {
  border: solid 2px black;
  border-top: none;
  text-align: center;
}

/* line 69, ../../sass/libraries/openlayers.scss */
.olControlPermalink {
  right: 3px;
  bottom: 1.5em;
  display: block;
  position: absolute;
  font-size: smaller;
}

/* line 77, ../../sass/libraries/openlayers.scss */
div.olControlMousePosition {
  bottom: 0;
  right: 3px;
  display: block;
  position: absolute;
  font-family: Arial;
  font-size: smaller;
}

/* line 86, ../../sass/libraries/openlayers.scss */
.olControlOverviewMapContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 92, ../../sass/libraries/openlayers.scss */
.olControlOverviewMapElement {
  padding: 10px 18px 10px 10px;
  background-color: #00008B;
  -moz-border-radius: 1em 0 0 0;
}

/* line 98, ../../sass/libraries/openlayers.scss */
.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton {
  height: 18px;
  width: 18px;
  right: 0;
  bottom: 80px;
  cursor: pointer;
}

/* line 107, ../../sass/libraries/openlayers.scss */
.olControlOverviewMapExtentRectangle {
  overflow: hidden;
  background-image: url("img/blank.gif");
  cursor: move;
  border: 2px dotted red;
}

/* line 113, ../../sass/libraries/openlayers.scss */
.olControlOverviewMapRectReplacement {
  overflow: hidden;
  cursor: move;
  background-image: url("img/overview_replacement.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 121, ../../sass/libraries/openlayers.scss */
.olLayerGeoRSSDescription {
  float: left;
  width: 100%;
  overflow: auto;
  font-size: 1.0em;
}

/* line 127, ../../sass/libraries/openlayers.scss */
.olLayerGeoRSSClose {
  float: right;
  color: gray;
  font-size: 1.2em;
  margin-right: 6px;
  font-family: sans-serif;
}

/* line 134, ../../sass/libraries/openlayers.scss */
.olLayerGeoRSSTitle {
  float: left;
  font-size: 1.2em;
}

/* line 138, ../../sass/libraries/openlayers.scss */
.olPopupContent {
  padding: 5px;
  overflow: auto;
}

/* line 143, ../../sass/libraries/openlayers.scss */
.olControlNavigationHistory {
  background-image: url("img/navigation_history.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

/* line 150, ../../sass/libraries/openlayers.scss */
.olControlNavigationHistoryPreviousItemActive {
  background-position: 0 0;
}

/* line 153, ../../sass/libraries/openlayers.scss */
.olControlNavigationHistoryPreviousItemInactive {
  background-position: 0 -24px;
}

/* line 156, ../../sass/libraries/openlayers.scss */
.olControlNavigationHistoryNextItemActive {
  background-position: -24px 0;
}

/* line 159, ../../sass/libraries/openlayers.scss */
.olControlNavigationHistoryNextItemInactive {
  background-position: -24px -24px;
}

/* line 163, ../../sass/libraries/openlayers.scss */
div.olControlSaveFeaturesItemActive {
  background-image: url(img/save_features_on.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

/* line 168, ../../sass/libraries/openlayers.scss */
div.olControlSaveFeaturesItemInactive {
  background-image: url(img/save_features_off.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

/* line 174, ../../sass/libraries/openlayers.scss */
.olHandlerBoxZoomBox {
  border: 2px solid red;
  position: absolute;
  background-color: white;
  opacity: 0.50;
  font-size: 1px;
  filter: alpha(opacity=50);
}

/* line 182, ../../sass/libraries/openlayers.scss */
.olHandlerBoxSelectFeature {
  border: 2px solid blue;
  position: absolute;
  background-color: white;
  opacity: 0.50;
  font-size: 1px;
  filter: alpha(opacity=50);
}

/* line 191, ../../sass/libraries/openlayers.scss */
.olControlPanPanel {
  top: 10px;
  left: 5px;
}

/* line 196, ../../sass/libraries/openlayers.scss */
.olControlPanPanel div {
  background-image: url(img/pan-panel.png);
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
}

/* line 204, ../../sass/libraries/openlayers.scss */
.olControlPanPanel .olControlPanNorthItemInactive {
  top: 0;
  left: 9px;
  background-position: 0 0;
}

/* line 209, ../../sass/libraries/openlayers.scss */
.olControlPanPanel .olControlPanSouthItemInactive {
  top: 36px;
  left: 9px;
  background-position: 18px 0;
}

/* line 214, ../../sass/libraries/openlayers.scss */
.olControlPanPanel .olControlPanWestItemInactive {
  position: absolute;
  top: 18px;
  left: 0;
  background-position: 0 18px;
}

/* line 220, ../../sass/libraries/openlayers.scss */
.olControlPanPanel .olControlPanEastItemInactive {
  top: 18px;
  left: 18px;
  background-position: 18px 18px;
}

/* line 226, ../../sass/libraries/openlayers.scss */
.olControlZoomPanel {
  top: 71px;
  left: 14px;
}

/* line 231, ../../sass/libraries/openlayers.scss */
.olControlZoomPanel div {
  background-image: url(img/zoom-panel.png);
  position: absolute;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

/* line 239, ../../sass/libraries/openlayers.scss */
.olControlZoomPanel .olControlZoomInItemInactive {
  top: 0;
  left: 0;
  background-position: 0 0;
}

/* line 245, ../../sass/libraries/openlayers.scss */
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
  top: 18px;
  left: 0;
  background-position: 0 -18px;
}

/* line 251, ../../sass/libraries/openlayers.scss */
.olControlZoomPanel .olControlZoomOutItemInactive {
  top: 36px;
  left: 0;
  background-position: 0 18px;
}

/*
 * When a potential text is bigger than the image it move the image
 * with some headers (closes #3154)
 */
/* line 261, ../../sass/libraries/openlayers.scss */
.olControlPanZoomBar div {
  font-size: 1px;
}

/* line 265, ../../sass/libraries/openlayers.scss */
.olPopupCloseBox {
  background: url("img/close.gif") no-repeat;
  cursor: pointer;
}

/* line 270, ../../sass/libraries/openlayers.scss */
.olFramedCloudPopupContent {
  padding: 5px;
  overflow: auto;
}

/* line 275, ../../sass/libraries/openlayers.scss */
.olControlNoSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
}

/* line 280, ../../sass/libraries/openlayers.scss */
.olImageLoadError {
  background-color: pink;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* IE */
}

/**
 * Cursor styles
 */
/* line 290, ../../sass/libraries/openlayers.scss */
.olCursorWait {
  cursor: wait;
}

/* line 293, ../../sass/libraries/openlayers.scss */
.olDragDown {
  cursor: move;
}

/* line 296, ../../sass/libraries/openlayers.scss */
.olDrawBox {
  cursor: crosshair;
}

/* line 299, ../../sass/libraries/openlayers.scss */
.olControlDragFeatureOver {
  cursor: move;
}

/* line 302, ../../sass/libraries/openlayers.scss */
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
  cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
/* line 309, ../../sass/libraries/openlayers.scss */
.olControlLayerSwitcher {
  position: absolute;
  top: 25px;
  right: 0;
  width: 20em;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-size: smaller;
  color: white;
  background-color: transparent;
}

/* line 324, ../../sass/libraries/openlayers.scss */
.olControlLayerSwitcher .layersDiv {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color: darkblue;
}

/* line 332, ../../sass/libraries/openlayers.scss */
.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}

/* line 339, ../../sass/libraries/openlayers.scss */
.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
  padding-left: 10px;
}

/* line 344, ../../sass/libraries/openlayers.scss */
.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
  width: 18px;
  height: 18px;
  top: 5px;
  right: 0;
  cursor: pointer;
}

/* line 353, ../../sass/libraries/openlayers.scss */
.olBingAttribution {
  color: #DDD;
}

/* line 356, ../../sass/libraries/openlayers.scss */
.olBingAttribution.road {
  color: #333;
}

/* line 360, ../../sass/libraries/openlayers.scss */
.olGoogleAttribution.hybrid, .olGoogleAttribution.satellite {
  color: #EEE;
}

/* line 363, ../../sass/libraries/openlayers.scss */
.olGoogleAttribution {
  color: #333;
}

/* line 366, ../../sass/libraries/openlayers.scss */
span.olGoogleAttribution a {
  color: #77C;
}

/* line 369, ../../sass/libraries/openlayers.scss */
span.olGoogleAttribution.hybrid a, span.olGoogleAttribution.satellite a {
  color: #EEE;
}

/**
 * Editing and navigation icons.
 * (using the editing_tool_bar.png sprint image)
 */
/* line 377, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar,
.olControlEditingToolbar {
  margin: 5px 5px 0 0;
}

/* line 381, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar div,
.olControlEditingToolbar div {
  background-image: url("img/editing_tool_bar.png");
  background-repeat: no-repeat;
  margin: 0 0 5px 5px;
  width: 24px;
  height: 22px;
  cursor: pointer;
}

/* positions */
/* line 391, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar {
  right: 0;
  top: 0;
}

/* line 395, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar {
  top: 295px;
  left: 9px;
}

/* layouts */
/* line 400, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar div {
  float: right;
}

/* individual controls */
/* line 404, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar .olControlNavigationItemInactive,
.olControlEditingToolbar .olControlNavigationItemInactive {
  background-position: -103px -1px;
}

/* line 408, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar .olControlNavigationItemActive,
.olControlEditingToolbar .olControlNavigationItemActive {
  background-position: -103px -24px;
}

/* line 412, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar .olControlZoomBoxItemInactive,
.olControlEditingToolbar .olControlZoomBoxItemInactive {
  background-position: -128px -1px;
}

/* line 416, ../../sass/libraries/openlayers.scss */
.olControlNavToolbar .olControlZoomBoxItemActive,
.olControlEditingToolbar .olControlZoomBoxItemActive {
  background-position: -128px -24px;
}

/* line 420, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
  background-position: -77px -1px;
}

/* line 423, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
  background-position: -77px -24px;
}

/* line 426, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
  background-position: -51px -1px;
}

/* line 429, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
  background-position: -51px -24px;
}

/* line 432, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
  background-position: -26px -1px;
}

/* line 435, ../../sass/libraries/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
  background-position: -26px -24px;
}

/* line 439, ../../sass/libraries/openlayers.scss */
div.olControlZoom, div.olControlTextButtonPanel {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

/* line 447, ../../sass/libraries/openlayers.scss */
div.olControlZoom a {
  font-size: 18px;
  line-height: 19px;
  height: 22px;
  width: 22px;
  padding: 0;
}

/* line 454, ../../sass/libraries/openlayers.scss */
div.olControlZoom a, div.olControlTextButtonPanel .olButton {
  display: block;
  margin: 1px;
  color: white;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: #130085;
  /* fallback for IE - IE6 requires background shorthand*/
  background: rgba(0, 60, 136, 0.5);
  filter: alpha(opacity=80);
}

/* line 466, ../../sass/libraries/openlayers.scss */
div.olControlZoom a:hover, div.olControlTextButtonPanel .olButton:hover {
  background: #130085;
  /* fallback for IE */
  background: rgba(0, 60, 136, 0.7);
  filter: alpha(opacity=100);
}

@media only screen and (max-width: 600px) {
  /* line 472, ../../sass/libraries/openlayers.scss */
  div.olControlZoom a:hover, div.olControlTextButtonPanel .olButton:hover {
    background: rgba(0, 60, 136, 0.5);
  }
}
/* line 476, ../../sass/libraries/openlayers.scss */
a.olControlZoomIn {
  border-radius: 4px 4px 0 0;
}

/* line 479, ../../sass/libraries/openlayers.scss */
a.olControlZoomOut {
  border-radius: 0 0 4px 4px;
}

/**
 * TextButtonPanel
 */
/* line 487, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel .olButton {
  float: left;
  padding: 4px;
}

/* line 492, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel.vertical .olButton {
  float: none;
}

/* line 495, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel .olButton:first-child {
  border-radius: 4px 0 0 4px;
}

/* line 498, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel .olButton:last-child {
  border-radius: 0 4px 4px 0;
}

/* line 501, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel.vertical .olButton:first-child {
  border-radius: 4px 4px 0 0;
}

/* line 504, ../../sass/libraries/openlayers.scss */
div.olControlTextButtonPanel.vertical .olButton:last-child {
  border-radius: 0 0 4px 4px;
}

/**
 * Animations
 */
/* line 513, ../../sass/libraries/openlayers.scss */
.olLayerGrid .olTileImage {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* Turn on GPU support where available */
/* line 521, ../../sass/libraries/openlayers.scss */
.olTileImage {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* when replacing tiles, do not show tile and backbuffer at the same time */
/* line 538, ../../sass/libraries/openlayers.scss */
.olTileReplacing {
  display: none;
}

/* override any max-width image settings (e.g. bootstrap.css) */
/* line 543, ../../sass/libraries/openlayers.scss */
img.olTileImage {
  max-width: none;
}